@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0;
  margin: 0;
  gap: 0;
  box-sizing: border-box;
}
#root,
body {
  touch-action: pan-x pan-y;
}
body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background: beige;
}
#root {
  display: flex;
  flex-direction: column;
  padding: 8px 14px 16px 14px;
  width: 100%;
  max-width: 400px;
  background: white;
  position: relative;
}

.blueBtn {
  background: blue;
  padding: 12px;
  border-radius: 16px;
  border: none;
  color: white;
}
.transBtn {
  padding: 12px;
  border-radius: 16px;
  color: gray;
}
.outlineBtn {
  padding: 12px;
  border-radius: 16px;
  border: 1px solid blue;
  color: blue;
  margin-top: auto;
}
.inp {
  outline: none;
  border: 0.5px solid rgb(223, 217, 217);
  border-radius: 16px;
  padding: 12px;
}
input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border: 1px solid #ccd0d5;
  border-radius: 12px;
  background: #ffffff;
  color: #1c1e21;
}
input:focus {
  border: 1.2px solid black;
}
h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #1c1e21;
  margin-left: 5px;
}
.subtitle {
  font-size: 16px;
  color: #65676b;
  margin-bottom: 25px;
  margin-left: 5px;
}
p,
h1 {
  pointer-events: none;
  user-select: none;
}
button {
  user-select: none;
}
